{% extends "layout.html" %}
{% set toc_items = [
  {"id": "ethical", "title": "Ethical"},
  {"id": "social", "title": "Social"},
  {"id": "legal", "title": "Legal"},
  {"id": "biosafety", "title": "Biosafety"},
  {"id": "references", "title": "References"}
] %}
  
{% block title %}ELSI{% endblock %}
{% block lead %}Ethical, Legal, and Social Issues{% endblock %}

{% block page_content %}



  <!-- Ethical Section -->
  <section id="ethical" class="mb-4">
    <h2 class="section-title">Ethical</h2>
    <div class="divider"></div>
    <p>
      <strong>Respect for Persons</strong> requires that the autonomy, dignity, and all rights of the participants are respected throughout the research process. Participants should be fully informed of procedures, risks, and benefits before starting. In this research, it means participants understand this is an early diagnostic device and should not replace consultation with a licensed clinician. Respect is maintained through clear communication with participants, families (if consent is given), and medical professionals.
    </p>
    <ul>
      <li>Ensure documented and ongoing consent of participants.</li>
    </ul>
  </section>

  <!-- Social Section -->
  <section id="social" class="mb-4">
    <h2 class="section-title">Social</h2>
    <div class="divider"></div>
    <p>
      <strong>Concern for Welfare</strong> ensures the physical, mental, and social well-being of participants is protected. Risks should be minimized and benefits maximized, and patient privacy maintained. Researchers must consider societal impacts and not use data to identify participants without explicit consent.
    </p>
    <ul>
      <li>Ensure equal distribution of biosensors to prevent worsening existing health inequalities.</li>
    </ul>
  </section>

  <!-- Legal Section -->
  <section id="legal" class="mb-4">
    <h2 class="section-title">Legal</h2>
    <div class="divider"></div>
    <p>
      <strong>Justice</strong> ensures fair and equitable treatment of participants. Inclusion/exclusion criteria should be based on relevant factors, such as age or likelihood of developing Alzheimer's, rather than arbitrary factors. Recruitment should be diverse so no group is denied benefits of the research.
    </p>
  </section>

  <!-- Biosafety Section -->
  <section id="biosafety" class="mb-4">
    <h2 class="section-title">Biosafety</h2>
    <div class="divider"></div>
    <p>
      Biosafety involves training, protocols, equipment, and environments to protect researchers, the community, and the environment from accidental release of bioagents. Potential losses must be identified and evaluated, and emergency plans developed.
    </p>

    <h3>Potential Losses</h3>
    <ul>
      <li>L1: Misdiagnosis of Alzheimer’s condition</li>
      <li>L2: Environmental contamination from improper disposal</li>
      <li>L3: Loss of biosensor accuracy over time</li>
      <li>L4: Loss of Life</li>
    </ul>

    <h3>Hazard Analysis</h3>
    <div class="table-hazard-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Hazard</th>
          <th>Description</th>
          <th>Associated Loss</th>
          <th>Refined Hazard ID</th>
          <th>Refined Hazard Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>H1</td>
          <td>Biosensor produces false positive results</td>
          <td>L1, L4</td>
          <td>H1.1</td>
          <td>False positive occurs due to sample contamination before use</td>
        </tr>
        <tr>
          <td>H1</td>
          <td></td>
          <td></td>
          <td>H1.2</td>
          <td>False positive occurs due to unrelated biomarker readings</td>
        </tr>
        <tr>
          <td>H1</td>
          <td></td>
          <td></td>
          <td>H1.3</td>
          <td>Biosensor is used incorrectly</td>
        </tr>
        <tr>
          <td>H2</td>
          <td>Biosensor produces false negative results</td>
          <td>L1, L4</td>
          <td>H2.1</td>
          <td>False negatives occur due to low biomarker sensitivity</td>
        </tr>
        <tr>
          <td>H2</td>
          <td></td>
          <td></td>
          <td>H2.2</td>
          <td>Signal interference causes false readings</td>
        </tr>
        <tr>
          <td>H2</td>
          <td></td>
          <td></td>
          <td>H2.3</td>
          <td>Biosensor is used incorrectly</td>
        </tr>
        <tr>
          <td>H3</td>
          <td>Biosensor component degradation</td>
          <td>L3</td>
          <td>H3.1</td>
          <td>Manufacturing inconsistencies cause degradation before use</td>
        </tr>
        <tr>
          <td>H3</td>
          <td></td>
          <td></td>
          <td>H3.2</td>
          <td>Storage conditions affect stability and performance</td>
        </tr>
        <tr>
          <td>H4</td>
          <td>Biosensor components contaminate environment upon disposal</td>
          <td>L2</td>
          <td>H4.1</td>
          <td>Releases toxic chemicals upon degradation</td>
        </tr>
        <tr>
          <td>H4</td>
          <td></td>
          <td></td>
          <td>H4.2</td>
          <td>Lack of proper disposal channels in underserved regions</td>
        </tr>
      </tbody>
    </table>
    </div>

    <h3>Risk Mitigation Strategies</h2>
    <ul>
      <li>Proper storage and disposal of the sensor and biomaterials.</li>
      <li>Safe handling of biomaterials to prevent infections or disease spread.</li>
      <li>Ongoing and documented consent of participants.</li>
      <li>Medical device compliance with Health Canada or other regulatory bodies.</li>
      <li>Documentation of all collected data and diagnostics, including errors.</li>
      <li>Follow all safety protocols and datasheet recommendations for materials.</li>
    </ul>
  </section>

  <!-- References Section -->
  <section id="references" class="mb-4">
    <h2 class="section-title">References</h2>
    <div class="divider"></div>
    <div class="references-card p-3 rounded mb-4">
      <button class="btn references-toggle w-100 d-flex justify-content-between align-items-center"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#elsi-references-list"
        aria-expanded="false"
        aria-controls="elsi-references-list">
        Show References
        <i class="fas fa-chevron-down arrow-icon"></i>
      </button>

      <div class="collapse mt-3" id="elsi-references-list">
        <ul class="list-unstyled small">
            <li>
              [1] Government of Canada. <em>Tri-Council Policy Statement: Ethical Conduct for Research Involving Humans – TCPS 2 (2022).</em> ethics.gc.ca, 2022. 
              Available at: 
              <a href="https://ethics.gc.ca/eng/policy-politique_tcps2-eptc2_2022.html" target="_blank">
                https://ethics.gc.ca/eng/policy-politique_tcps2-eptc2_2022.html
              </a>
            </li>
            <li>
              [2] K. Barlow-Stewart and L. Burnett. “Ethical Considerations in the Use of DNA for the Diagnosis of Diseases.” 
              <em>Clinical Biochemist Reviews</em>, vol. 27, no. 1, p. 53, Feb. 2006. 
              Available at: 
              <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC1390792/" target="_blank">
                https://pmc.ncbi.nlm.nih.gov/articles/PMC1390792/
              </a>
            </li>

            <li>
              [3] N. G. Leveson. “Safety Analysis in Early Concept Development and Requirements Generation.” 
              <em>INCOSE International Symposium</em>, vol. 28, no. 1, pp. 441–455, Jul. 2018. 
              doi: 
              <a href="https://doi.org/10.1002/j.2334-5837.2018.00492.x" target="_blank">
                https://doi.org/10.1002/j.2334-5837.2018.00492.x
              </a>
            </li>
        </ul>
      </div>
    </div>
  </section>

{% endblock %}
